.section {
    /*--col-orange: #d17842;*/
    /*--col-dark: #0c0f14;*/
    --col-darkGray: #52555a;
    --col-gray: #aeaeae;
    /*width: fit-content;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(232, 232, 232);
    /*background-color: rgba(255, 255, 255, 0.01);*/
    /*backdrop-filter: blur(100px);*/
    box-shadow: 0 0 0.25em rgba(20,20,25,0.5);
    /*border: 1px solid var(--description-color);*/
    border-radius: 30px;
    gap: 30px;
    width: 90vw;
    padding: 0 10px;
}
.icon{
    width: 24px;
    height: 24px;
}

.label {

    padding: 10px 10px;
    transition: all 200ms;
    display: inline-block;
}

.label input[type="radio"] {
    display: none;
}
.label > svg {
    transition: all 200ms;
    fill: var(--col-gray);
    width: 30px;
}
.label:hover:not(:has(input:checked)) > svg {
    fill: var(--focus-color-meidum);
    opacity: 0.6;
}
.label::before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 20px;
    margin-top: 5px;
    background: var(--focus-color-meidum);
    transition: all 200ms;
}
.label > svg {
    transition: 300ms;
    fill: var(--col-darkGray);
    margin-top: 0;
}
.label:has(input:checked) > svg {
    fill: var(--focus-color-meidum);
    scale: 1.1;
    margin-top: -5px;
}
.label:has(input:checked) > svg #col {
    fill: var(--focus-color-meidum);
    /*stroke: var(--focus-color-meidum);*/
}

.label:has(input:checked) > svg #col2 {
    stroke: var(--focus-color-meidum);
    /*stroke: var(--focus-color-meidum);*/
}

.label:has(input:checked)::before {
    width: 100%;
    left: 0;
    top: 25px;
}
