.main{
    gap: 30px;
    max-width: 300px;
    display: flex;
    align-items: center;
}
.nickname{
    font-family: "Franklin Gothic Demi", sans-serif;
    font-size: 24px;
}

@media (max-width: 1024px) {
    .nickname{
        font-size: 15pt;
    }
}

@media (max-width: 425px) {
    .nickname{
        font-size: 14pt;
    }
}