.main{
    position: relative;
    animation: fadeIn .1s forwards;
    background: var(--card-background);
    backdrop-filter: blur(20px);
    /*box-shadow: var(--card-box-shadow);*/
    cursor: pointer;
    transition: all 1s ease-in-out;
    overflow: hidden ;
}

.main:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    background: var(--gradieeent);
    height: 20px;
    width: 20px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 1s ease-out;
}

.main:hover:before {
     transform: var(--scale-round);
}
.main:hover{
    top: -2px;
}
.main:hover .article{
    color: var(--article);
}
.main:hover .title{
    transition: color 1s ease-out;
    color: var(--nuans-color);
}

.container {
    border: 1px solid var(--card-border);
    display: flex;
}

.title {
    font-size: 32px;
    font-family: "Franklin Gothic Demi",sans-serif;
    color: var(--base-color);
    /*word-wrap: break-word;*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: color 1s ease-out;

}

.article{
    color: #828282;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer {
    font-weight: 400;
    font-size: 10pt;
    display: flex;
    justify-content: space-between;
    /*color: #828282;*/
}

.footer time{
    font-family: "SF Pro Display", sans-serif ;
}

/* Full */
.full_container {
    /*box-sizing: border-box;*/
    /*align-items: center;*/
    /*max-width: 900px;*/
    justify-content: space-between;
    height: 550px;
    max-height: 550px;
    padding: 20px ;
    gap: 10px;
}

.full_case_info {
    min-width: 100px;
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    max-width: 420px;
    height: 100%;
    box-sizing: border-box;
    /*max-height: 350px;*/

    overflow-wrap: break-word;
}

.full_title {
    font-size: 32px;
    margin-bottom: 20px;
}

.full_description {
    font-family: "SF Pro Display",sans-serif;
    font-weight: 300;
    /*color: #828282;*/
    font-size: 13pt;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 290px;
    /*overflow: hidden;*/
}

.full_footer {
    margin-top: 30px;
}

.full_image {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    min-width: 200px;
    max-width: 430px;
    min-height: 300px;
    height: 510px;
}

.image{
    object-fit: cover;
}


/* flex column */

.column_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    /*max-width: 425px;*/
    height: 550px;
    padding: 30px 20px;
}


.column_image {
    position: relative;
    width: 100%;
    /*max-width: 385px;*/
    height: 250px;
    object-fit: cover;
}

.column_title {
    font-size: 32px;
    margin-bottom: 28px;
    margin-top: 20px;
    /*color: white;*/
}

.column_description {
    font-family: "SF Pro Text",sans-serif;
    /*color: #828282;*/
    height: 60px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.column_footer {
    margin-top: 4vh;
}

/* withoutImage */

.without_container {
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    /*max-width: 460px;*/
    height: 550px;
    min-height: fit-content;
    max-height: 550px;
    padding: 30px;
}

.without_title {
    /*color: white;*/
    font-size: 32px;
    margin-bottom: 30px;
}

.without_description {
    font-family: "SF Pro Text",sans-serif;

    min-width: 200px;
    width: 100%;
    /*max-width: 400px;*/
    height: 100%;
    font-size: 12pt;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 19;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.without_footer {
    margin-top: 20px;
}

/* flex row */

.row_container {
    box-sizing: border-box;
    /*max-width: 870px;*/
    min-width: 400px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    display: flex;
    padding: 20px 26px 20px 30px;
    gap: 10px;
}

.row_case_info {
    width: 100%;
    /*max-width: 300px;*/
    min-width: 300px;
    height: 100%;
}

.row_title {
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
    /*color: white;*/
    font-size: 32px;
    margin-bottom: 15px;
}
.row_description {
    font-family: "SF Pro Text",sans-serif;

    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13pt;
    width: 100%;
    max-width: 580px;
    min-width: 200px;
    height: 100%;
    min-height: 90px;
    max-height: 100px;
}

.row_footer {
    margin-top: 20px;
}

.row_image {
    position: relative;
    max-width: 220px;
    width: 100%;
    height: 214px;
    object-fit: cover;
}

@media (max-width: 1024px) {

    .row_container {
        max-width: 900px;
    }
    .row_description{
        max-width: max-content;
    }
}

@media (max-width: 425px) {
    .full_container, .column_container {
        display: flex;
        flex-direction: column;
        max-width: 460px;
        min-width: 200px;
        max-height: 330px;
        overflow: hidden;
        width: 100%;
        padding: 20px 10px;
        /*box-sizing: border-box;*/
        /*max-width: 900px;*/
        /*height: 550px;*/
        /*max-height: 550px;*/
        /*padding: 20px ;*/
        /*gap: 10px;*/
    }

    .full_case_info{
        min-width: auto;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: auto;
        height: 100%;
        box-sizing: border-box;
        overflow-wrap: break-word;
    }

    .full_title, .column_title {
        font-size: 24px;
        margin-bottom: 2vh;
    }

    .full_description, .column_description {
        font-family: "SF Pro Display",sans-serif;
        font-weight: 300;
        font-size: 10.5pt;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 50px;
        /*overflow: hidden;*/
    }
    .full_footer, .column_footer {
        margin-top: 10px;
    }
    .full_image{
        order: 1
    }
    .full_case_info{
        order: 2;
    }
    .full_image, .column_image {
        width: 100%;
        /*height: 100%;*/
        min-width: 200px;
        max-width: 400px;
        min-height: 100px;
        /*max-height: 135px;*/
        height: 100%;
        object-fit: cover;
    }


    .row_container {
        box-sizing: border-box;
        max-width: 460px;
        min-width: 300px;
        width: 100%;
        max-height: 100px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .row_case_info {
        min-width: auto;
        height: 100%;
    }

    .row_title {
        width: 100%;
        /*color: white;*/
        font-size: 10.5pt;
        margin-bottom: 0;
        height: 100%;
    }
    .row_description {
        display: none;
    }
    .row_footer{
        display: none;
    }

    .row_image {
        min-width: 100px;
        width: 100px;
        height: 77px;
        object-fit: cover;
    }


    .without_container {
        flex-direction: column;
        width: 100%;
        min-width: 200px;
        max-width: 460px;
        height: fit-content;
        max-height: 330px;
        padding: 10px ;
    }

    .without_title {
        /*color: white;*/
        font-size: 18pt;
        margin-bottom: 10px;
    }

    .without_description {
        min-width: auto;
        width: 100%;
        max-width: 100%;
        height: 100%;
        font-size: 10.5pt;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .without_footer {
        margin-top: 20px;
    }
}

@keyframes fadeIn {
    from {
        filter: blur(100px);
    }
    to {
        filter: none;
    }
}