.main{
    border-bottom: 1px solid var(--description-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main:hover{
    background-color: rgba(0, 0, 0, 0.02);
}

.input{
    display: none;
}




/*.icon.i_open{*/

/*}*/

.main_header{
    color: var(--COLOR-DARK);
    cursor: pointer;


    display: flex;
    justify-content: space-between;

    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.content{
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--article);
    max-height: 0;
    overflow: hidden;
    transition: all .5s cubic-bezier(0,1,0,1);
    /*transition: color 1s ease-out;*/
}
.content:hover{
    color: var(--base-color);
}

.input:checked + .content{
    color: var(--base-color);
    opacity: 90%;

    height: auto;
    max-height: 999px;
    transition: all .2s cubic-bezier(1,0,1,1);
}
.icon{
    transition: transform .5s;
}

.input:checked + .icon {
    transform: rotate(-180deg);
}


/*.content.open{*/
/*    */
/*}*/

@media (max-width: 1024px) {
    .main_header{
        font-weight: 600;

        font-size: 18px;
    }
    .content{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .main_header{
        font-size: 16px;
    }
    .content{
        font-size: 14px;
    }
}

/*@media (max-width: 425px) {*/
/*    .main_header{*/
/*        font-size: 14px;*/
/*    }*/
/*    .content{*/
/*        font-size: 12px;*/
/*    }*/
/*}*/