.button{
    font-family: "SF Pro Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.color{
    color: var(--base-color);
}

.color:hover{
    color: var(--focus-color-start);
}

.active{
    color: var(--active-button);
}
.active:hover{
    color: var(--focus-color-start);
}