.button{
    font-family: "SF Pro Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.button:focus-visible {
    /* remove default focus style */
    outline: none;
    /* custom focus styles */
    box-shadow: 0 0 1px 1px var(--focus-color-meidum);
}

.color{
    color: var(--base-color);
}

.color:hover{
    color: var(--focus-color-start);
}

.active{
    color: var(--active-button);
}
.active:hover{
    color: var(--focus-color-start);
}

@media (max-width: 1024px) {
    .button{
        font-size: 14pt;
    }
}