.main {
    display: flex;
    padding: 100px 100px 0 100px;
    /*align-items: end;*/
    transition: 0.1s ease-out;
}

.logo {
    position: absolute;
    right: 10%;
}


.frontImage {
    /*visibility: hidden;*/
    z-index: 0;
    height: 920px;
    min-width: 300px;
    max-width: 650px;
    /*max-width: ;*/
    object-fit: cover;
    border-radius: 70px;
    overflow: hidden;

    /*background: linear-gradient(180deg, rgba(24, 28, 32, 0) 0%, #181C20 100%);*/
    /*mix-blend-mode: multiply;*/
    box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0.05);
}

.frontImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    /*background: linear-gradient(180deg, rgba(24, 28, 32, 0) 0%, #181C20 100%);*/
    /*background: red;*/
    z-index: 2;
}

.backImage {
    position: absolute;
    z-index: 0;
    left: 10px;
    top: 300px;
    visibility: var(--visability);
    border-radius: 70px;
    overflow: hidden;
    height: 780px;
    width: 500px;
    object-fit: cover;
    filter: blur(100px);
}

.title {
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    font-size: 24pt;

    padding: 150px 0;
    margin-left: 5vw;
    display: flex;
    align-items: end;
}


@media (max-width: 1918px) {
    .main {
        padding: 5vw 5vw 0 5vw;
    }

    .logo {
        position: absolute;
        right: 10vw;
    }

    .title {
        width: 100%;
        max-width: 650px;
        font-size: 20pt;
        margin-left: 5vw;
        display: flex;
        align-items: end;
    }

    .frontImage {
        height: 820px;
        max-width: 40vw;

        min-width: 180px;
        width: 100%;
    }

    .frontImage::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100%;
        /*background: linear-gradient(180deg, rgba(24, 28, 32, 0) 0%, #181C20 100%);*/
        /*background: red;*/
        z-index: 2;
    }

    .backImage {
        position: absolute;
        z-index: 0;
        left: 10px;
        top: 300px;
        visibility: var(--visability);
        border-radius: 70px;
        overflow: hidden;
        height: 680px;
        width: 500px;
        object-fit: cover;
        filter: blur(100px);
    }
}

@media (max-width: 1440px) {
    .title {
        z-index: 99;
        font-size: 18pt;
        max-width: 450px;
        padding-bottom: 30px;
    }

    .frontImage {
        max-height: 650px;
    }
}

@media (max-width: 1024px) {
    .title {
        font-size: 16pt;
        max-width: 420px;

    }

    .frontImage {
        border-radius: 20px;
        max-height: 550px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 14pt;
        max-width: 200px;

    }

    .frontImage {
        max-height: 350px;
    }

    .backImage {
        height: 300px;
    }
}

@media (max-width: 425px) {
    .logo {
        right: 3vw;
    }

    .title {
        position: relative;
        backdrop-filter: blur(100px);
        padding: 10px;
        right: 30%;
        bottom: 10px;
        margin-top: 180px;
        border-radius: 20px;
        overflow: hidden;
        /*text-align: right;*/
        font-size: 12pt;
        max-width: 200px;

    }

    .frontImage {
        max-height: 300px;
    }

    .backImage {
        max-width: 50vw;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: 11.5pt;

        min-width: 250px;
        right: 60%;
    }
}
