.main{
    background-image: var(--background-image);
    background-color: var(--nuans-color);
    background-repeat: repeat-y;
    color: var(--base-color);
    padding-top: 100px;
}
/*.main h1{*/
/*    font-family: "SF Pro Display", sans-serif;*/
/*    font-size: 28px;*/
/*}*/

.cost{
    padding-left: 160px;
    padding-bottom: 100px;
}

.commentForm{
    width: 100%;
}
