.comments{
    width: 100%;
}
.span{
    grid-column: span 2;
}

.mainImage{
    justify-content: center;
    display: flex;
    align-items: center;
}

.grid{
    background: var(--nuans-color);
    display: grid;
    grid-template-columns: auto 430px;
    padding: 50px 19vw;
    row-gap: 35px;
    column-gap: 20px;
    transition: all 250ms ease;

}

.sticky{
    position: sticky;
    top: 10vw;
    align-self: start;
}
.recomends{
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    gap: 34px;
    /*max-height: 300vh;*/
    /*overflow-y: hidden;*/
}

.recomends h3{
    font-family: "Imperial One", sans-serif;
    font-size: 21pt;
}
.news{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project{
    height: 430px;
}

.video{
    width: 100%;
    margin: 2vh 0;

    border-radius: 10px;
    overflow: hidden;
}

.fileUploadImage{
    width: 100%;
    margin: 2vh 0;
    border-radius: 10px;
    overflow: hidden;
}

.textContent{
    background: rgba(0, 0, 0, 0.06);
    padding: 20px;
    border-radius: 10px;
}


.content{
    background: var(--nuans-color);
    /*box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;*/
    /*box-shadow: 0 0 0.25em  rgba(20,20,25,0.5);*/
    /*backdrop-filter: blur(300px);*/
    /*padding: 0 10px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}


.image{
    margin: auto;
    border-radius: 10px;

    overflow: hidden;
    /*max-height: 520px;*/
    width: 70%;
    object-fit: cover;
}

.inputDescription{
    width: 70%;
    height: fit-content;
}
.inputDescription h4{
    margin-bottom: 2vh;
}

.text{
    font-family: "SF Pro Text", sans-serif;
    font-size: 15pt;
    font-weight: normal;
    width: 100%;
}
.commentForm{
    /*grid-column: span 2;*/
    background: var(--nuans-color);
    width: 100%;
}

.spanImage{
    /*height: 520px;*/
    width: 100%;
    margin: auto;
    /*max-height: 520px;*/
    max-width: 1250px;
}

.fileUpload{
    /*position: absolute;*/
    /*top: 49vh;*/
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text ul,
.text ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
}
.text li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.text li{
    padding: 0.30rem 0;
}

.text a {
    color: var(--focus-color-meidum);
}
/* Code and preformatted text styles */
.text code {
    background-color: white;
    border-radius: 0.4rem;
    color: black;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
}

.text  pre {
    background: black;
    border-radius: 0.5rem;
    color: white;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
}
.text  code {
    background: none;
    color: inherit;
    text-wrap: wrap;
    font-size: 0.8rem;
    padding: 0;
}


.text  blockquote {
    border-left: 3px solid #484848;
    margin: 1.5rem 0;
    padding-left: 1rem;

    font-style: italic; /* Курсивное начертание текста */
    quotes: "\201C" "\201D" "\2018" "\2019"
}

.text  blockquote:before {
    content: open-quote; /* Открывающая кавычка перед цитатой */
}

.text  blockquote:after {
    content: close-quote; /* Закрывающая кавычка после цитаты */
}

.text blockquote p {
    text-indent: 0;
    font-size: 12pt;
    margin: 0; /* Убираем отступы у параграфов внутри цитаты */
}
.text p {
    padding: 0.25rem 0;
    /*text-indent: 1.25rem;*/
}

.text  hr {
    border: none;
    /*margin: auto;*/
    border-top: 1px solid #939393;
    margin: 2rem auto;
}



.text  em{
    font-style: italic;
}
.text  strong{
    font-weight: bold;
}
.text  s{
    text-decoration: line-through;
}

@media (max-width: 1600px) {
    .grid{
        padding: 50px 5%;
        grid-template-columns: minmax(300px, 900px) minmax(300px, 430px);

    }
}

@media (max-width: 1024px) {
    .commentForm{
        margin: 5vh 0;
    }
    .content{
        gap: 30px;
    }
    .grid{
        display: flex;
        /*grid-template-columns: none;*/
        /*column-gap: 0;*/
        flex-direction: column;
        gap: 20px;
        padding: 50px 15%;
    }
    .recomends{
        visibility: collapse;
        display: none;
    }
    .text{
        font-size: 15pt;
    }

    .text ul,
    .text ol {
        padding: 0 1.5rem;
        margin: 1.5rem 1.5rem 1.5rem 0.6rem;
    }
    .text li p {
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }
    .text li {
        padding: 0.4rem 0;
    }

    .text a {
        color: var(--focus-color-meidum);
    }
    /* Code and preformatted text styles */
    .text code {
        background-color: white;
        border-radius: 0.5rem;
        color: black;
        font-size: 1rem;
        padding: 0.3em 0.4em;
    }

    .text pre {
        background: black;
        border-radius: 0.6rem;
        color: white;
        font-family: 'JetBrainsMono', monospace;
        margin: 1rem 0;
        padding: 0.9rem 1.2rem;
    }

    .text code {
        background: none;
        text-wrap: wrap;
        color: inherit;
        font-size: 0.95rem;
        padding: 0;
    }


    .text blockquote {
        border-left: 4px solid #484848;
        margin: 1rem 0;
        padding-left: 1.2rem;

        font-style: italic;
        quotes: "\201C" "\201D" "\2018" "\2019"
    }

    .text blockquote p {
        text-indent: 0;
        font-size: 1.1rem;
        margin: 0;
    }
    .text p {
        padding: 0.3rem 0;
    }

    .text hr {
        border: none;
        border-top: 1px solid #939393;
        margin: 1.5rem 0;
    }
    .text em {
        font-style: italic;
    }
    .text strong {
        font-weight: bold;
    }
    .text s {
        text-decoration: line-through;
    }
}

@media (max-width: 768px) {
    .grid{
        padding: 20px 3vw;

    }
}

@media (max-width: 425px) {
    .commentForm{
        margin: 5vh 0;
    }
    .content{
        gap: 10px;
        box-sizing: border-box;
    }
    .anotherSpan{
        display: none;
    }

    .grid{

    }

    .recomends{
        visibility: collapse;
    }
    .text{
        font-size: 14pt;
    }

    .text ul,
    .text ol {
        padding: 0.1rem;
        margin: 0.5rem 0 0.5rem 0.8rem;
    }
    .text li p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
    .text li{
        padding: 0.5em 0;
    }

    .text code {
        border-radius: 0.8rem;
        font-size: 14pt;
        padding: 0.2em 0.3em;
    }

    .text  pre {
        border-radius: 1rem;
        margin: 1rem 0;
        padding: 0.5rem 1rem;
    }
    .text  code {
        background-color: rgb(0, 0, 0, 0.502);
        margin: 0;
        text-wrap: wrap;
        /*padding: .1875rem .375rem .1875rem .6875rem;*/
        margin-block: .25rem;
        border-radius: .25rem;
        position: relative;
        overflow: hidden;
    }

    .text code::before{
        display: block;
        width: 100%;
        content: 'css';
        /*font-size: 15pt;*/
        /*padding: 0;*/

        color: var(--focus-color-end);
        font-family: "SF Pro Text",sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        margin-bottom: .5rem;
    }


    .text  blockquote {
        border-left: 3px solid #484848;
        margin: 1rem 0;
        padding-left: 1rem;
    }

    /*.text blockquote p {*/
    /*    text-indent: 0;*/
    /*    font-size: 12pt;*/
    /*    margin: 0; !* Убираем отступы у параграфов внутри цитаты *!*/
    /*}*/

    .text p {
        padding: 0.2rem 0;
    }

    .text  hr {
        border: none;
        border-top: 2px solid #939393;
        margin: 2rem 0;
    }
    .text  em{
        font-style: italic;
    }
    .text  strong{
        font-weight: bold;
    }
    .text  s{
        text-decoration: line-through;
    }
}



