.main{
    background-color: var(--nuans-color);
    position: relative;
    overflow: hidden;
    /*top: -100px;*/
    max-height: 1100px;
}
.main:after{
    content: '';
    display: block;
    position: relative;
    height: 300px;
    bottom: 100px;
    background: linear-gradient(180deg, rgba(232, 232, 232, 0) 0%, var(--nuans-color) 100%);
    /*background: red;*/

    width: 100%;
}
.main:before{
    z-index: 90;
    content: '';
    display: block;
    position: relative;
    height: 200px;
    /*top: 70px;*/
    /*background: red;*/
    background: linear-gradient(0deg, rgba(232, 232, 232, 0) 0%, var(--nuans-color) 45%);
    width: 100%;
}
.lineBack{
    max-width: 850px;
    position: absolute;
    right: 0;
    top: 100px;
}
.tarma{
    max-height: 1000px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100px;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 350px ;
}
.content{
    max-width: 600px;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

}
.gap30{
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 97;
}
.gap20{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content: end;
    gap: 20px;

    color: var(--active-button);
    font-family: "SF Pro Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
}

.desic p{
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #8E8E8E;
}


@media (max-width: 1600px) {
    .lineBack{
        display: none;
    }
}

@media (max-width: 1024px) {
    .lineBack{
        display: none;
    }
    .wrapper{
        display: flex;
        padding: 0;
        justify-content: center;
    }

}

@media (max-width: 768px) {
    .tarma{
        display: none;
    }
    .main:after{
        content: '';
        /*display: block;*/
        display: none;
        position: relative;
        height: 150px;
        bottom: 100px;
        background: linear-gradient(180deg, rgba(232, 232, 232, 0) 0%, var(--nuans-color) 100%);
        /*background: red;*/

        width: 100%;
    }
    .main:before{
        z-index: 90;
        content: '';
        /*display: block;*/
        display: none;
        position: relative;
        height: 150px;
        /*top: 70px;*/
        /*background: red;*/
        background: linear-gradient(0deg, rgba(232, 232, 232, 0) 0%, var(--nuans-color) 45%);
        width: 100%;
    }

    .content{
        height: fit-content;
        padding: 10vh 0;
    }
}

@media (max-width: 425px) {
    .wrapper{
        padding: 0 10px;
    }

    .content{
        height: fit-content;
        padding: 5vh 0;
    }
}