.header{
    /*background: var(--nuans-color);*/
    background: linear-gradient(180deg, var(--nuans-color) 0%, rgba(232, 232, 232, 0.1) 100%);
    backdrop-filter: blur(10px);

    transition: background .5s ease-in-out;


    display: flex;
    justify-content: center;

    position: fixed;
    width: 100vw;
    top : 0;
    z-index: 999;
}
.temp{
    position: absolute;
    bottom: 0;
    font-size: 64px;
    font-color: var(--base-color);
}
.section{
    /*width: 100%;*/

    /*flex-direction: column;*/
}
.logo{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.buttons{
    padding: 0 0 10px 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}


@media (max-width: 1024px) {
    .buttons{
        visibility: visible;
    }
}


@media (max-width: 425px) {
    .header{
        background: var(--nuans-color);
        position: static;
        /*width: 100vw;*/
        /*top : 0;*/
        z-index: 999;
    }


    .buttons{
        display: none;
    }
    .logo{
        max-width: 170px;
    }
}