.back{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main{
    width: 100%;
    /*background: ;*/
}

.create{
    width: 560px;
    gap: 25px
}

.desc{
    width: 100%;
    text-align: right;
}

.sticky{
    position: sticky;
    top: 70px;

    background: white;
}

@media (max-width: 1024px) {
    .back{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 425px) {
    .back{
        display: flex;
        align-items: center;
        gap: 40px;
    }
}