.header{
    font-family: "Imperial One", sans-serif;
    font-size: 64px;
}
.uniqueHeaders{
    font-family: "Metro Color", sans-serif;
    font-size: 96px;

    background-image: url('../../../asserts/gifs/WTF.gif');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    -webkit-text-stroke: 1px var(--base-color) ;
}
.numb{
    font-family: "Imperial One", sans-serif;
    font-size: 96px;
}

.blockquote{
    font-family: "SF Pro Display", sans-serif;
    font-size: 24px;
    max-width: 800px;
}

.text{
    font-family: "SF Pro Display", sans-serif;
    font-size: 30px;
    max-width: 850px;
}

.text p {
    padding: 0.25rem 0;
}

.iiiariki{
    /*height: 550px;*/
    max-width: 700px;
    max-height: 550px;
    /*width: 100%;*/
}

.section{
    align-items: center;
    padding: 60px 160px ;
    display: flex;
    gap: 30px;
    height: fit-content;
    justify-content: space-between;
}

.desc{
    padding: 80px 0;
    display: flex;
    align-items: center;
    gap: 40px
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transition: all 1s ease-in-out;
}
.oval:hover, .circle:hover{
    /*color: transparent;*/
    /*background-image: url("../../../asserts/gifs/WTF.gif") !important;*/
    transform: scale(1.1);
}

.oval{
    transition: all 1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.85);
    font-size: 28px;


    height: 100px;
    width: 200px;
    border-radius: 50px;
}
.nuans{
    padding-top: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: var(--COLOR-DARK);
    font-size: 28px;
}
.colorImages{
    padding-top: 100px;
    padding-bottom: 30px;
    /*justify-content: space-between;*/
    width: 100%;
    display: flex;
    gap: 1%;
}
.colors{
    gap: 2%;
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--COLOR-DARK);
}
.circles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*GIFS*/
/*GIFS*/
.mains{
    position: relative;
    width: 100px;
    top: 0;
    left: 50%;
}
.first{
    position: relative;
    width: 70px;
    filter: blur(20px);
}

.second{
    position: relative;
    width: 100px;
    filter: blur(40px);
}

.third{
    position: relative;
    width: 100px;
    filter: blur(10px);
    top: 20%;
    right: 10px;
}

.fourth{
    position: relative;
    width: 270px;
    filter: blur(10px);
    /*background-color: red;*/
    right: 50%;
    top: 10%
}

.five{
    position: relative;
    width: 200px;
    filter: blur(6px);
    top: -180px;
    right: -70%;
}

.sixs{
    position: relative;
    top: -100px;
    right: 60px;
    width: 500px;
    filter: blur(10px);
}
/*GIFS*/
/*GIFS*/
.leftColumn{
    width: 100%;
}
.imageBlock{
    position: relative;
    margin-right: 8%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.Unique{
    object-fit: cover;
    border-radius: 35px;
    height: 500px;
}

.imageTitle{
    text-align: center;
    color: var(--description-color);
}

@media (max-width: 1440px) {

    .header{
        font-size: 58pt;
    }
    .uniqueHeaders{
        font-size: 64pt;

    }

    .section{
        padding: 60px 50px ;
        gap: 30px;
        justify-content: center;
        height: fit-content;
    }
    .iiiariki{
        display: none;
    }
    .numb{
        font-size: 54pt;
    }
    .blockquote{
        font-family: "SF Pro Display", sans-serif;
        font-size: 20pt;
        max-width: 800px;
    }
    .desc{
        padding: 40px 0;
    }


    .imageBlock{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: column;
        max-width: 400px;
        height: 550px;

        overflow: hidden;
    }

    .Unique{
        object-fit: cover;
        border-radius: 35px;
        height: 500px;
    }

    .imageTitle{
        text-align: center;
        color: var(--description-color);
    }

}

@media (max-width: 1024px) {
    .header {
        font-size: 42pt;
    }
    .uniqueHeaders {
        font-size: 54pt;
    }

    .section {
        padding: 30px 40px;
        gap: 26px;
        justify-content: start;
        height: fit-content;
    }
    .iiiariki {
        display: none;
    }
    .numb {
        font-size: 42pt;
    }
    .blockquote {
        font-family: "SF Pro Display", sans-serif;
        font-size: 14pt;
        max-width: 700px;
    }
    .text{
        font-size: 15pt;
    }
    .desc {
        padding: 36px 0;
    }

    .circle{
        height: 160px;
        width: 90px;
        border-radius: 100px;
        transition: all 1s ease-in-out;
    }
    .oval:hover, .circle:hover{
        transform: scale(1.06);
    }

    .oval{
        transition: all 1s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.85);
        font-size: 15pt;
        height: 160px;
        width: 120px;
        border-radius: 40px;
    }
    .nuans{
        padding-top: 10px;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: var(--COLOR-DARK);
        font-size: 15pt;
    }
    .colorImages{
        padding-top: 50px;
        padding-bottom: 0;
        /*justify-content: space-between;*/
        justify-content: start;
        width: 100%;
        display: flex;
        gap: 1%;
    }

    .leftColumn{
        width: 100%;
    }
    .imageBlock{
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: column;
        max-width: 350px;
        height: 350px;

        overflow: hidden;
    }

    .Unique{
        object-fit: cover;
        border-radius: 20px;
        height: 350px;
    }

    .imageTitle{
        text-align: center;
        color: var(--description-color);
    }
}


@media (max-width: 768px) {
    .section{
        flex-direction: column;
    }
    .imageBlock{
     /*align-self: center;*/
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: column;
        max-width: 500px;
        height: 300px;
        overflow: hidden;
    }

    .Unique{
        object-fit: cover;
        border-radius: 20px;
        height: 250px;
    }

}

@media (max-width: 425px) {
    .header {
        font-size: 28px;
    }
    .uniqueHeaders {
        font-size: 54px;
    }
    .section {
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: fit-content;
    }
    .iiiariki {
        display: none;
    }
    .numb {
        font-size: 44px;
    }
    .blockquote {
        font-family: "SF Pro Display", sans-serif;
        font-size: 18px;
        max-width: 100%;
    }
    .text{
        font-size: 20px;
    }
    .desc {
        padding: 32px 0;
    }

    .circle{
        height: 80px;
        width: 45px;
        border-radius: 50px;
        transition: all 1s ease-in-out;
    }
    .oval:hover, .circle:hover{
        transform: scale(1.01);
    }

    .oval{
        transition: all 1s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.85);
        font-size: 14px;
        height: 80px;
        width: 90px;
        border-radius: 50px;
    }
    .nuans{
        padding-top: 10px;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: var(--COLOR-DARK);
        font-size: 14px;
    }
    .colorImages{
        padding-top: 50px;
        padding-bottom: 0;
        /*justify-content: space-between;*/
        justify-content: center;
        width: 100%;
        display: flex;
        gap: 1%;
    }


    .imageBlock{
        align-self: center;
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: column;
        max-width: 275px;
        height: 325px;
        overflow: hidden;
    }

    .Unique{
        object-fit: cover;
        border-radius: 20px;
        height: 275px;
    }
}