.container{
    position: absolute;
    /*background: red;*/
    /*width: 100px;*/
    /*height: 100px;*/
    z-index: -1;
}

.zindex{
    position: absolute;
    z-index: 9999;
}

@media (max-width: 768px) {
    .container{
        display: none;
    }
}