.main{
    min-height: 100vh;
    height: 100%;
    padding:  200px;

    background-color: var(--nuans-color);
    transition: background-color .5s ease-in-out;
}

.map{
    width: 500px;
    margin: auto;
    transition: all 1s ease-out;
}