.main{
    padding-top: 100px;
    overflow: hidden;
    max-width: 100vw;
    box-sizing: border-box;
    /*position: absolute;*/
}
.background{
    position: absolute;
    /*position: relative;*/
    font-size: 340px;
    width: 100%;
    overflow-x: hidden;
    transform: rotate(-9deg) translateX(0);
}

.background p, .header{
    font-family: "Imperial One", sans-serif;
    font-weight: normal;
    text-wrap: nowrap;
    text-align: center;
    overflow: hidden;

    /*text-border: 1px solid rgba(128, 128, 128, 0.27);*/
}

.background .bcg{
    color: var(--nuans-back);
}

.content{
    margin-top: 14vw;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    /*grid-auto-rows: minmax(400px, 1fr); !* Базовая настройка для строк *!*/
    overflow: hidden;
    grid-template-rows: repeat(auto-fit, 400px 100px 400px);
    column-gap: 20px;
    row-gap: 20px;
}
.content2{
    visibility: hidden;
}
.grid6{
    display: none;
}

@media (max-width: 1440px) {
    .background{
        max-width: 99vw;
        font-size: 230px;
        /*font-size: min(32pt, max(230px, 230px));*/
        width: fit-content;
        overflow-x: hidden;
    }
    .header{
        width: 1300px;
        max-width: 1300px;
        text-align: end;
    }
    .content {
        margin-top: 10vw;
    }
    .background p{
        /*text-wrap: wrap;*/
        /*font-size: 180px;*/
        max-width: 80vw;
    }
}

@media (max-width: 1440px) {
    .main{
        padding-top: 100px;
        overflow: hidden;
        max-width: 100vw;
        height: fit-content;
        box-sizing: border-box;
        position: relative;
    }
    .background{
        /*position: absolute;*/
        position: relative;
        font-size: 200px;
        width: 100%;

        overflow-x: hidden;
        transform: rotate(-9deg) translateX(0);
    }

    .background p, .header{
        font-family: "Imperial One", sans-serif;
        font-weight: normal;
        text-wrap: nowrap;
        text-align: center;
        overflow: hidden;

        /*text-border: 1px solid rgba(128, 128, 128, 0.27);*/
    }

    .content{
        position: absolute;
        top: 0;
        margin-top: 25vw;
        right: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        overflow: hidden;
        grid-template-rows: repeat(auto-fit, 400px 100px 400px);
        column-gap: 20px;
        row-gap: 20px;
    }
    .content2{
        visibility: hidden;
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        overflow: hidden;
        grid-template-rows: repeat(auto-fit, 400px 100px );
        column-gap: 0;
        row-gap: 0;
    }
}

@media (max-width: 768px) {
    .content{
        column-gap: 10px;
        row-gap: 25px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(250px, 1fr); /* Базовая настройка для строк */
        grid-template-rows: repeat(auto-fit, 250px 250px 125px 125px 250px 250px );
    }
    .content2{
        visibility: hidden;
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        overflow: hidden;
        grid-template-rows: repeat(auto-fit, 200px 100px );
        column-gap: 0;
        row-gap: 0;
    }

    .grid1, .grid2, .grid4, .grid6{
        grid-row: span 1;
        grid-column: span 1;
    }

    .grid3{
        grid-column: span 2;
        grid-row: span 1;
    }
}