.main{
    width: 1396px;
    height: 500px;
}


@media (max-width: 1918px) {
    .main{
        /*width: 100%;*/
        max-width: 1000px;
        min-width: 300px;
    }
}

@media (max-width: 1024px) {
    .main{
        width: 600px;
        height: 300px;
    }
}