.main{
    width: 1396px;
    height: 500px;
}


@media (max-width: 1918px) {
    .main{
        /*width: 100%;*/
        max-width: calc(250px + (1400 - 250) * ((100vw - 425px) / (1920 - 425 )));
        max-height: calc(100px + (500 - 100) * ((100vw - 425px) / (1920 - 425 )));
        /*max-width: 1000px;*/
        min-width: 300px;
    }
}

/*@media (max-width: 1440px) {*/
/*    .main{*/
/*        width: 1000px;*/
/*        height: 400px;*/
/*    }*/
/*}*/

/*@media (max-width: 1340px) {*/
/*    .main{*/
/*        width: 800px;*/
/*        height: 400px;*/
/*    }*/
/*}*/

/*@media (max-width: 1024px) {*/
/*    .main{*/
/*        width: 700px;*/
/*        height: 300px;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .main{*/
/*        width: 500px;*/
/*        height: 300px;*/
/*    }*/
/*}*/

/*@media (max-width: 600px) {*/
/*    .main{*/
/*        width: 450px;*/
/*        height: 300px;*/
/*    }*/
/*}*/